body {
    margin: 0;
}

header {
    text-align: center;
    color: rgb(225, 209, 209);
    font-size: 15px;
    background-image: url("https://media.cntraveler.com/photos/5c002c7745e16c465f875830/2:1/w_2560%2Cc_limit/GettyImages-1011529218.jpg");
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 9vw 2vmin;
}